.body-command {
  margin: 2rem auto;
  padding: 20px;
  border: 2px solid black;
}

.detail-movie {
  display: flex;
  flex-direction: column;
}

.img-movie {
  margin: auto;
}

.detail {
  padding: 50px;
}
