<div class="body-command">
	<div class="detail-movie" *ngFor="let selectmovie of selectmovie">
		<div class="img-movie">
			<img
        src="{{ selectmovie.image }}"
        class="img"
        alt="Girl in a jacket"
        width="450"
        height="450"
      />
			<span class="imdb">IMDb : {{ selectmovie.imdb }}</span>
		</div>
		<div class="detail">
			<h1>{{ selectmovie.name }}</h1>
			<p>
				{{ selectmovie.Details }}

			</p>
		</div>
	</div>
	<hr />
	<div class="comment-body">
		<span>Leave Review</span>
		<div class="debug" *ngFor="let movie of movie">
			<app-display-comment [movie]="movie"></app-display-comment>
		</div>

		<div class="comment-input">
			<form [formGroup]="form" class="form-class">
				<input type="text" formControlName="msg" name="msg">
				<input type="button" class="btn-comment" (click)="addComment()" value="Comment" />
        </form>
		</div>
	</div>
</div>