.body-command {
  margin: 2rem auto;
  padding: 20px;
  /* border: 2px solid black; */
}

.detail-movie {
  display: flex;
  flex-direction: column;
}

.img-movie {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.detail {
  padding: 50px;
}

.comment-body {
  padding: 50px;
}

.comment-input {
  padding: 10px;
}

.btn-comment {
  margin: 0px 10px;
  padding: 10px 20px;
  border: 2px solid greenyellow;
  background: none;
}
.btn-comment:hover {
  background: greenyellow;
  color: white;
}

input[type="text"] {
  padding: 10px 20px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 75%;
}


.imdb{
  margin: auto;
  font-size: 30px;
  font-weight: bolder;
}