.body-command {
  margin: 2rem auto;
  padding: 20px;
  /* border: 2px solid black; */
}

.detail-movie {
  display: flex;
  flex-direction: column;
}

.img-movie {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.detail {
  padding: 50px;
}

.comment-body {
  padding: 50px;
}

.comment-input {
  padding: 10px;
  /* border: 2px solid red; */
}

.form-class{
  display: flex;
  justify-content: space-between;
}

.btn-comment {
  margin: 0px 10px;
  padding: 10px 50px;
  border: 2px solid #7d4e08;
  border-radius: 10px;
  background: none;
}
.btn-comment:hover {
  background: #7d4e08;
  color: white;
}

input[type="text"] {
  padding: 10px 20px;
  border-radius: 2px;
  width: 85%;
  border: none; 
  border-bottom: 5px solid #7d4e08;
}


.imdb {
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: bolder;

  border: 4px solid gold;
  border-radius: 4px;
}
