.span-top {
  font-size: 50px;
  font-weight: bold;
  /* border: 2px solid black; */
  padding: 20px;
  text-decoration: underline;
}

.flex {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(255, 0, 0); */
}

.mobie-con {
  margin: 10px auto;
  /* border: 2px solid rgb(0, 68, 255); */
  max-width: 350px;
}
