/* Add application styles & imports to this file! */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: #7d4e08a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d4e08;
}

body {
  margin: 0;
  background: #7d4e0859;
}
