nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px 25px;
  background: #ffffff;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-bottom: 2px solid rgb(149, 233, 14);
}

nav div a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav div a:hover {
  text-decoration: underline;
}

section {
  margin-top: 6rem;
  border: 2px solid black;
  height: 1000px;
}
.btn-success {
  margin: 0 10px;
  margin-right: 20px;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border: 2px solid greenyellow;
  background: none;
  border-radius: 4px;
}

.btn-success:hover {
  background: rgb(126, 150, 85);
}

.header-body {
  margin: auto;
  margin-top: 6rem;
  width: 650px;
  height: 250px;
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.header-con {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
  /* border
  : 2px solid rgb(255, 54, 47); */
  padding: 0;
  background: white;

  font-family: "Comic Sans MS", cursive, sans-serif;

  border: 2px solid black;
}
.caon-nav {
  display: flex;
  background: white;
}

.btn-top {
  margin: 20px auto;
  padding: 20px;
  border-radius: 100%;
}
