<nav>
	<a routerLink="">Dobby's</a>
	<div class="nav-head">
		<a routerLink="" class="home">Home</a> | <a routerLink="more-movie" class="more">All Movie</a>
		<!-- <input type="text" />
		<input type="button" class="btn-success" value="Submit" /> -->
	</div>
</nav>

<!-- <section> -->
<div class="header-body">
	<span class="header-con">Dobby's Sock</span>
	<hr />
	<p>
		แหล่งรวบรวมข้อมูลสำหรับภาพยนตร์ที่ คุณตัดสินใจไม่ได้ว่าจะรับชมหรือไม่
		แหล่งพูดคุยแลกเปลี่ยนเกี่ยวกับภาพยนตร์ที่คุณชื่นชอบ ใช้ประกอบการตัดสินใจในการเลือกชมภาพยนตร์
		เพื่อเพิ่มอรรถรสในการรับชมให้มากยิ่งขึ้น
	</p>
</div>

<div class="body">
	<router-outlet></router-outlet>
</div>
<!-- </section> -->