<nav>
	<a routerLink="">Review</a>
	<div class="nav-head">
		<a routerLink="">Home</a> |
		<input type="text" />
		<input type="button" class="btn-success" value="Submit" />
  </div>
</nav>

<!-- <section> -->
<div class="header-body">
	<span class="header-con">Dobby's Sock</span>
	<hr />
	<p>
		for searching you can read about filters in a view. updating view is nothing
		like setting ng-model since angular is two-way data binding. To update on
		server side, use PUT, to add new POST. – changtung Jul 15 '15 at
	</p>
</div>
<div class="body">
	<router-outlet></router-outlet>
</div>
<!-- </section> -->